.country {
    border: 2px solid salmon;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.country-visited {
    background-color: aquamarine;
}

.visited-flag-container img{
    width: 120px;
    margin-right: 10px;
}